<header class="page-header turtle" role="banner">

  <h1 class="project-name">{{ page.title | site.title | site.github.repository_name }}</h1>
  <h2 class="project-tagline">
      {{ page.author | default: page.description | site.description | site.github.project_tagline }}
  </h2>

  {% if page.path != "index.md" %}<a href="{{ site.baseurl }}/" class="btn">Home</a> {% endif %} 
  {% if page.path != "chapters.md" %}<a href="{{ site.baseurl }}/chapters" class="btn">Chapters</a> {% endif %} 
  {% if page.path != "resources.md" %}<a href="{{ site.baseurl }}/resources" class="btn">Other Resources</a> {% endif %} 
  {% if page.path != "call.md" %}<a href="{{ site.baseurl }}/call" class="btn">Call for Contributions</a> {% endif %}
  {% if page.path != "about.md" %}<a href="{{ site.baseurl }}/about" class="btn">About the project</a> {% endif %} 

</header>