<header role="banner">
  <input type="checkbox" id="overlay-input" />
  <label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="page-header turtle">
    <h1 class="project-name">{{ page.title | site.title | site.github.repository_name }}</h1>
    <h2 class="project-tagline">
      {{ page.author | default: page.description | site.description | site.github.project_tagline }}
    </h2>
  </div>

</header>