<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>

    <header class="page-header turtle" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">
            {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

        {% for button in page.nav %} {% if button == "home" %}
        <a href="{{ site.baseurl }}/" class="btn">Home</a> {% endif %} {% if button == "call" %}
        <a href="{{ site.baseurl }}/call" class="btn">Call for Contributions</a> {% endif %}
        {% if button == "resources" %}
        <a href="{{ site.baseurl }}/resources" class="btn">Other Resources</a> {% endif %} {% endfor %}

    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}
        {% include footer.html %}
    </main>
</body>

</html>